
.icon-book:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-dribbble:before { content: '\e802'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-rebel:before { content: '\f1d0'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */